<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wisp Bot</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="skeleton.css">
	<link rel="stylesheet" href="index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="refresh" content="10" >
</head>
<body>
	<h1 class="title noSelect">Wisp Bot</h1>

	<div class="container">
			text
		<div class="playing">
			<div class="youtubePreview">
				<div id="youtubeIcon"></div>
			</div>
			<div>
				Now Playing...
			</div>
		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
</body>
</html>